body 
	{background-color: #E8DBFE;
	}

h1
	{font-family:Garamond;
	}

p 
	{font-family:Garamond;
	}

table, th, td 
	{border: 1px solid black;
	}

input[type=text] 
	{border: 2px solid #48337B;
  	border-radius: 4px;
	}