<!DOCTYPE HTML>
<html>
<head>
<meta charset="UTF-8">
<title>Embedded Style Sheet</title>

.row
	{background-color:black;
	font-color:white;
	}

.col-sm-4
	{flex:0 0 auto;
	width:33.33333333%
	}

.com-sm-6
	{flex:0 0 auto;
	width:50%
	}

</head>
<body>



</body>
</html>
